<div class="row">
    <div class="col text-center mt-5">
        <h1 class="display-4">Kevin Sebastian</h1>
        <p class="lead">MY WISH</p>
        <p class="lead">UI/UX DESIGN | Lead Of Software engineer</p>
        <br>
        <p class="lead fw-bold">Welcome To My Challenge</p>
        <p>silahkan pilih Challenge mu :)</p>
        <div class="col">
            <a class="btn btn-outline-danger" href="/challenge3" role="button">challenge3</a>
            <a class="btn btn-outline-primary" href="/challenge4" role="button">challenge4</a>
        </div>
    </div>
</div>