<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="display-4">Kevin Sebastian</h1>
            <p class="lead">MY WISH</p>
            <p class="lead">UI/UX DESIGN | Lead Of Software engineer</p>

        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NO</th>
                <th scope="col">ID</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((i, no) => {no++ %>
            <tr>
                <th scope="row"><%= no %> </th>
                <td><%= i.Id %> </td>
                <td><%= i.Pass %> </td>

            </tr>

            <% }) %>

        </tbody>
    </table>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
</script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>