body {
  background-color: rgb(143, 112, 83);
}

h1 {
  font-size: 2em;
  color: orange;
}
.menu {
  padding-top: 20px;
}

.user {
  color: aqua;
}
p {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 1px;
  margin-top: 10px;
}
.box img {
  width: 23%;
  margin-left: 30%;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  display: inline;
  transition: 1s;
}

#versus {
  font-size: 9em;
  margin-left: 50%;
  color: red;
  padding-top: 13vw;
  font-family: serif;
}

.position-player {
  margin-left: 20%;
}

.position-comp {
  margin-left: 20%;
}

.gamePlay {
  cursor: pointer;
}

.box:hover,
.refresh:hover,
.active {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40 px rgba(0, 0, 0, 0.5);
}
.item:hover,
.active {
  background-color: yellow;
  border-radius: 20%;
}

.refresh {
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  display: inline;
  transition: 0.3s;
  width: 2.5vw;
  margin-left: 55%;
}

.refresh:hover {
  border-radius: 20%;
}

#tombol {
  margin-left: 60%;
  width: 100px;
  background-color: orange;
  color: black;
  border-color: yellow;
}
