.body {
  width: 100%;
  height: 100%;
}
.navbar-brand {
  margin-right: 180px;
  margin-left: 0%;
  padding-right: 200px;
  color: white;
}

.nav-link {
  margin-right: 20px;
  color: white;
}

.background-nav {
  background-color: black;
  opacity: 60%;
}

.home-screen {
  background-image: url(./assets/main-bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.text-center h1 {
  color: white;
  font-weight: bold;
  font-size: 4vw;
  margin-top: 10%;
  word-spacing: 10px;
  letter-spacing: 10px;
}
.text-center h2 {
  color: white;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 2vw;
}
.text-center button {
  background-color: rgb(255, 183, 69);
  color: black;
  font-weight: bold;
  height: 60px;
}

.navbar {
  background-size: auto;
  font-weight: bold;
}

.text-paraghraph {
  color: white;
  font-weight: bold;
  margin-top: 25%;
}

.bg-thegame {
  background-image: url(./assets/the-games-bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.bg-thegame h1 {
  color: white;
  letter-spacing: 6px;
  font-size: 5vw;
  margin-left: 10%;
}

.bg-thegame p {
  color: white;
  margin-top: 20%;
  letter-spacing: 4px;
  margin-left: 20%;
  margin-top: 50%;
}
.carousel {
  margin-top: 13%;
  padding-bottom: 20px;
  width: 80%;
}

.bg-features {
  background-image: url(./assets/features.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.bg-features p {
  color: white;
  letter-spacing: 3px;
  margin-top: 15%;
  padding-left: 30%;
}
.bg-features h1 {
  color: white;
  letter-spacing: 4px;
  padding-left: 28%;
}
ul.timeline {
  list-style-type: none;
  position: relative;
  margin-left: 30%;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;

  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.bg-requirements {
  background-image: url(./assets/requirements.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.requirements {
  margin-top: 10%;
  color: white;
  letter-spacing: 4px;
}

.text {
  margin-top: 8%;
  color: white;
  font-size: 10px;
  margin-left: 10%;
  letter-spacing: 2px;
}
.table-bordered {
  margin-left: 10%;
  margin-top: 5%;
}
.table td {
  color: orange;
}

.table p {
  color: white;
}

.bg-topscores {
  background-image: url(./assets/p.top-score-bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.top-scores {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 20%;
  margin-left: 100px;
  width: 400px;
}
.comment {
  margin-top: 2%;
  height: 17%;
  width: 40%;
}

.comment h1 {
  font-size: medium;
}

.rounded {
  padding-top: 10px;
  background-color: rgb(51, 44, 45);
  color: white;
}
.rounded p {
  color: rgb(171, 169, 169);
}

.rounded h1 {
  color: orange;
}
.rounded h6 {
  font-size: smaller;
}
